$mainFont : 'Raleway', sans-serif;
$primary: #005b9f;
$secondary: #003f8c;
$green: #009045;
$black: #373737;
$dark: #040404;
$cream: #eeeeee;
$white: white;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;