body{
    margin: 0;
}
h2{
    margin: 0;
}
.services{
    border: 5px solid black;
    height: 300px;
    display: grid;
    grid: 50% 50% / 33.3% 33.3% 33.3%;
}
.service{
    text-align: center;
    color: white;
}
.service-1{
    background: darkviolet;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.service-2{
    background: limegreen;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.service-3{
    background: teal;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}