@mixin phone {
    @media (min-width: #{$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin button($bgColor) {
    background-color: $bgColor;
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    transition: background-color .3s ease-in-out;
    &:hover{
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}

@mixin box-sizing($box-modal){
    box-sizing: $box-modal;
}