:root {
    --primary: #7abe47;
    --light: #ffffff;
    --gray : #eeeeee;
    --dark: #333333;
    --padding: 1rem;
    --padding2: 2rem;
    --mainFont : 'PT Serif', serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--gray);
    font-family: var(--mainFont);
    margin: 0;
}
img{
    max-width: 100%;
}
h1{
    text-align: center;
    margin: 2rem 0;
}
h3{
    font-size: 2rem;
}
.width{
    width: 95%;
    margin: 0 auto;
}
.header{
    background: var(--dark);
    padding: 1rem 0;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: white;
    margin: .5rem 0;
}
.header a:first-of-type{
    margin-top: 3rem;
}
.search-container{
    background-image: url('./img/property1.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    flex: 0 0 calc(25% - .7rem);
}
input[type='text']{
    padding: 1rem 0 1rem 1rem ;
    margin-bottom: 1rem;
}
input[type='submit']{
    padding: 1rem 0;
    background: var(--primary);
    color: white;
    border: none;
    transition: background .5s ease-in-out;
}
input[type='submit']:hover{
    background: white;
    color: var(--primary);
}
.properties{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.first-card{
    flex: 0 0 100%;
    background: white;
    margin-bottom: 1.3rem;
}
.properties img{
    width: 100%;
}
.second-properties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second-properties .first-card{
    flex: 0 0 100%;
    background: white;
    margin-bottom: 1.2rem;
}
.content{
    padding: 1rem;
}
.properties a, .second-properties a {
    background: var(--primary);
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
}
.price{
    margin-top: 1rem;
}
.price span{
    color: var(--primary);
}
.aboutUs{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.aboutUs h2{
    font-size: 2rem;
    margin-bottom: 4rem;
}
.aboutUs p{
    line-height: 2rem;
}
.bgColor{
    background: var(--primary);
}
.footer{
    margin-top: 2rem;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.footer-links .footer{
    padding-right: 1rem;
}
.footer-links .about{
    flex: 0 0 100%;
    line-height: 2rem;
    letter-spacing: 1.1px;
}
.footer-links .nav {
    flex: 0 0 100%;
}
.footer-links .nav p{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.footer-links a{
    margin-bottom: 1rem;
    color: white;
    text-decoration: none;
}
.footer-links .propertiesForSale{
    flex: 0 0 100%;
}
.sales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sales div{
    flex: 0 0 80%;
    padding-right: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sales div span{
    display: block;
    margin-top: 1rem;
}
.propertiesForSale img{
    height: 100px;
    width: 150px;
}
.copy-right{
    background: var(--dark);
    text-align: center;
    color: white;
    padding: 1rem 0;
}
@media(min-width: 768px){
    .width{
        width: 75%;
        margin: 0 auto;
    }
    .header-content{
        flex-direction: row;
        justify-content: space-between;
    }.header-content div{
        flex-direction: row;
    }
    .header a{
        margin: 0 0 0 7rem;
    }
    .header a:first-of-type{
        margin-top: 0rem;
    }
    
    form{
        flex-direction: row;
        justify-content: space-between;
    }.first-card{
        flex: 0 0 calc(50% - .7rem);
    }
    .second-properties .first-card{
        flex: 0 0 calc(25% - 1rem);
    }
    .aboutUs{
        flex-direction: row;
    }
    .aboutUs div{
        padding: 2rem;
    }.footer-links .about{
        flex: 0 0 calc(30% - 1rem);
    }
    .footer-links .nav {
        flex: 0 0 calc(20% - 1rem);
    }
    .footer-links .propertiesForSale{
        flex: 0 0 50%;
    }
    .sales div{
        flex: 0 0 calc(50% - 1rem);
    }
    input[type='text']{
        margin-bottom: 0;
    }
    
}