body{
    margin: 0;
}
h2{
    margin: 0;
}
.services{
    border: 5px solid black;
    height: 300px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
}
.service{
    text-align: center;
    color: white;
}
.service-1{
    background: darkviolet;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.service-2{
    background: limegreen;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.service-3{
    background: teal;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}